/*Animation button and menu*/

#btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: #FFF;
    background: #181719;
}

#burguer {
    border-top: 0.1875rem solid #FFF;
    width: 1.75rem;
}

#burguer::after, #burguer::before {
    content: '';
    display: block;
    width: 1.75rem;
    height: 0.1875rem;
    margin-top: 0.3125rem;
    transition: .3s;
    position: relative;
    background: currentColor;
}

#nav.active #burguer {
    border-top-color: transparent;
}

#nav.active #burguer::before {
    transform: rotate(135deg);
}

#nav.active #burguer::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
}

.mobile-menu-container {
    display: block;
    position: absolute;
    width: 100%;
    padding-top: 50%;
    right: 0;
    height: 0;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    text-align: center;
    background: #181719;
}

#menu {
    display: inline-block;
}

#nav.active .mobile-menu-container {
    height: 70vh;
    visibility: visible;
}

#logo.active {
    visibility: hidden;
}

.mobile-menu-container .button {
    margin: 0;
    display: block;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.125rem solid #181719;
}

.mobile-menu-container .button:hover {
    padding-bottom: 0.5rem;
    border-bottom: 0.125rem solid #FFF;
}

/*Animation button and menu - end*/

 #logo {
    margin-left: 0;
 }

 main {
    flex-wrap: wrap;
    margin-top: 0;
}


.content {
    margin: 0 3.75rem 0 0;

}

.interior-img {
    height: 17.5rem;
    width: 26.875rem;
    margin: 2.1875rem 0 0 0;
}

.card {
    top: -55px; 
    left:50px;
    max-width: 23.125rem;
    max-height: 11.8125rem;
}

.card-img {
    width: 3.875rem;
    height: 3.25rem;
}

.card-name-position {
    margin: 0 0 0 1rem;
}

.author {
    margin-left: 1.625rem;
    font-size: 1.25rem;
}

footer {
    margin-top: 1.25rem;
}