@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,700&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
}

header, main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 238px;
height: 426.5px;
}

h1 {
font-family: 'PT Serif';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
letter-spacing: -0.045em;
margin-right: 215px;
}

h2 {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-transform: uppercase;

}

p {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
max-width: 439px;

}

main div p {
font-family: 'PT Serif';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

text-transform: uppercase;
}
.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-right: 90px;
}