.ingredients-container {
    margin: 3rem 0 0 14.75rem;
}

.ingredients-title {
    font-family: var(--title-font);
    color: var(--gray-one);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.ingredients-subtitle{
    font-family: var(--title-font);
    color: var(--gray-one);
    font-style: italic;
    font-weight: 400;
    font-size: 1.125rem;
    margin-bottom: 1.9375rem;

}