.header {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.header-box {
    max-width: 37rem;
}

.header-box h1 {
    font: 3rem var(--title-font);
    margin-bottom: 1rem;
}

.box-paragraph p {
    font: italic 0.875rem var(--paragraph-font);
    color: var(--gray-two);
}

.box-paragraph {
    display: flex;
    align-items: flex-start;
}

.box-paragraph::before {
    content: url(../img/6dots.svg);
    display: inline-flex;
    margin: 0.25rem 0.75rem 0 0;
}

.banner {
    margin-top: 2.6875rem;
    max-width: 60.625rem;
    max-height: 27.8125rem;
}

.main-content {
    text-align: center;
}

.main-content-box {
    display: inline-block;
}