.header {
    margin: 3.25rem 0 0 14.75rem;
    max-width: 37rem;
}

.header-title {
    font: 3rem var(--title-font);
    margin-bottom: 1rem;
}

.header-paragraph {
    font: italic 0.875rem var(--paragraph-font);
    color: var(--gray-two);
}

.box-paragraph {
    display: flex;
    align-items: flex-start;
}

.box-paragraph::before {
    content: url(../img/6dots.svg);
    display: inline-flex;
    margin: 0.25rem 0.75rem 0 0;
}

.banner {
    margin: 2.6875rem 0 0 14.75rem;
    max-width: 60.625rem;
    max-height: 27.8125rem;
}