.ingredients-title,
.ingredients-subtitle,
.ingredients-list-item {
    text-align: start;
}

.ingredients-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ingredients-list {
    max-width: 36.875rem;
}

.ingredients-title {
    font: 1.5rem var(--title-font);
    margin-bottom: 2rem;
}

.ingredients-subtitle {
    font: italic 400 1.125rem var(--title-font);
    color: var(--gray-one);
    margin: 2.25rem 0 2.375rem 0;
}

.ingredients-list-item {
    margin-bottom: 1.0625rem;
}

.list-paragraph {
    font: 1rem var(--paragraph-font);
    color: var(--gray-one);
    margin-left: 1.0625rem;
}

.list-paragraph span {
    font-weight: bold;
}

.list-paragraph #suggestions {
    font-weight: normal;
    font-style: italic;
}